In [1]:
import pandas

In [2]:
def datehour_to_hour(datehour) :
    schedule = datehour%10000
    hours = schedule//100
    minutes = schedule%100
    return hours+minutes/60

def preprocessing(station_name) :
    df = pandas.read_table("data/real_data_utile/RB_"+station_name+"_2020-05-18.csv", sep=' ')
    df['arrival_time'] = df['arrival_time'].apply(datehour_to_hour)
    df['departure_time'] = df['departure_time'].apply(datehour_to_hour)
    df = df.drop(['terminus1','terminus2','truc1', 'truc2'], axis=1)
    return df

In [3]:
station_names = ['Antony', 'Chatelet', 'Lozere', 'Saint-Michel', 'Luxembourg']

In [4]:
list_df = []
for station_name in station_names :
    list_df.append(preprocessing(station_name))

In [5]:
Antony = preprocessing('Antony')
Antony.head()

   arrival_time  departure_time
0     11.733333       11.750000
1     11.916667       11.916667
2     12.133333       12.100000
3     12.250000       12.266667
4     12.400000       12.450000

In [21]:
Antony.describe()

       arrival_time  departure_time
count     64.000000       64.000000
mean      16.692448       16.687760
std        2.695602        2.685946
min       11.733333       11.750000
25%       14.487500       14.504167
50%       16.916667       16.916667
75%       18.841667       18.845833
max       21.283333       21.283333

In [6]:
Chatelet = preprocessing('Chatelet')
Chatelet.head()

   arrival_time  departure_time
0     11.766667       11.733333
1     11.866667       11.883333
2     11.966667       11.983333
3     12.083333       12.083333
4     12.316667       12.233333

In [7]:
Lozere = preprocessing('Lozere')
Lozere.head()

   arrival_time  departure_time
0      6.300000            6.30
1      6.550000            6.55
2      6.700000            6.70
3      6.950000            6.70
4      7.433333            6.95

In [8]:
Saint_Michel = preprocessing('Saint-Michel')
Saint_Michel.head()

   arrival_time  departure_time
0          6.40            6.40
1          6.55            6.55
2          6.65            6.65
3          6.70            6.70
4          6.80            6.80

In [9]:
Luxembourg = preprocessing('Luxembourg')
Luxembourg.head()

   arrival_time  departure_time
0     11.800000           11.80
1     11.900000           11.90
2     12.000000           12.00
3     12.250000           12.15
4     12.316667           12.25

In [12]:
def str_to_hour(string) :
    hour = int(string[0:2])
    minute = int(string[3:5])
    seconds = int(string[6:8])
    return hour+minute/60+seconds/3600

In [13]:
def date_to_date(date) :
    year = date//10000
    month = (date-year*10000)//100
    day = date-year*10000-month*100
    return month*30+day